<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/styles/output.css" rel="stylesheet">
  </head>
  <body>
    <h1><%= title %></h1>
    <h1 class="text-5xl font-bold text-center">Welcome to <%= title %></h1>
  </body>
</html>
