<div
  class="flex items-center justify-center min-h-screen bg-gradient-to-r from-indigo-50 to-blue-50"
>
  <div
    class="w-full max-w-2xl p-4 bg-white shadow-2xl sm:p-10 sm:rounded-3xl"
  >
    <div class="text-center">
      <div
        class="flex items-center justify-center w-20 h-20 mx-auto mb-6 bg-green-100 rounded-full dark:bg-green-700"
      >
        <svg
          class="h-12 w-12 text-green-600 dark:text-green-100"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          ></path>
        </svg>
      </div>
      <h1 class="text-4xl font-extrabold text-green-700 dark:text-green-400">
        Voucher created Successfuly!
      </h1>
    </div>
    <div class="mt-8 text-center">
      <a
        href="/vouchers"
        class="inline-flex items-center rounded-md border border-transparent bg-gray-800 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-gray-900"
        >
        Back to Vouchers
      </a>
    </div>
  </div>
</div>
